@page
@model INET2005_FinalProject.Pages.CheckoutModel
@{
}

<h1>Checkout</h1>

@if (Model.CheckoutErrorString != string.Empty)
{
    <div class="alert alert-danger" role="alert">
        @Model.CheckoutErrorString
    </div>
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group my-2">
                    <label class="control-label">Name</label>
                    <input class="form-control" asp-for="Payload.Name" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">Address</label>
                    <input class="form-control" asp-for="Payload.Address" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">City</label>
                    <input class="form-control" asp-for="Payload.City" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">Province/State</label>
                    <input class="form-control" asp-for="Payload.Province" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">Postal Code</label>
                    <input class="form-control" asp-for="Payload.PostalCode" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">Country</label>
                    <input class="form-control" asp-for="Payload.Country" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group my-2">
                    <label class="control-label">Card #</label>
                    <input type="number" class="form-control" asp-for="Payload.CcNumber" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">Expiry Date (MMYY)</label>
                    <input class="form-control" asp-for="Payload.CcExpiryDate" />
                </div>
                <div class="form-group my-2">
                    <label class="control-label">CVV</label>
                    <input type="number" class="form-control" asp-for="Payload.Cvv" />
                </div>
            </div>
        </div>
        <div class="mb-3 my-3">
            <input type="submit" value="Order" class="btn btn-lg btn-outline-primary" />
        </div>
    </form>
</div>