@page
@model INET2005_FinalProject.Pages.ConfirmationModel
@{

}
<div>
    <h1>Your order has been processed!</h1>
    <p>You'll hear back from us via mail in about 1-2 weeks.</p>
    <p>Confirmation ID: @Model.ConfirmationString</p>
</div>